<div class="user_page">
  <header class="user_page-header clear_fix">
    <div class="yjContainer">
      <div class="user_info clear_fix">
        <div class="user_image"><%= image_tag current_user.avatar %></div>
          <h4><%= current_user.nickname %><span>さんのマイページ</span></h4>
          <ul class= "user_score">
            <li>レビュー数</li>
          </ul>
        </div>
      </div>

  </header>
  <div class="user_all_reviews">
        <ul class="user_page-contents">
          <% current_user.reviews.each do |review| %>
            <li class="user_review" style="list-style:none;">
              <div class="row">
                <div class="col-xs-6 col-md-3">
                    <figure id="reviews-photo">
                      <a href="/products/<%= review.product.id %>" class="thumbnail">
                        <img src="<%= review.product.image_url %>" alt="">
                        <figcaption><%= review.product.title %></figcaption>
                          </a>
                      </figure>
                  </div>
                </div>
            </li>
          <% end %>
        </ul>
    </div>
  </div>