<div class="bgcolor-white pt1em pb1em" id="contents">  <div id="main_cnt_wrapper">
    <div class="Container">
      <div class="form_box">
        <h2 class="login_title">stationery<span>ログイン</span></h2>
        <div class="form">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div>
            <%= f.email_field :email, autofocus: true, :placeholder => 'メールアドレスを入力' %>
          </div>
          <div>
            <%= f.password_field :password, autocomplete: "off", :placeholder => 'パスワードを入力' %>
          </div>
          <div class="form_other">
            <% if devise_mapping.rememberable? -%>
              <div class="pass_r"><%= f.check_box :remember_me %> <%= f.label :パスワードを記憶 %></div>
            <% end %>
            <ul style=list-style:none;>
              <li class="pass_f">パスワードを忘れましたか？</li>
              <li class="submit"><%= f.submit "ログイン" %></li>
            </ul>
          </div>
        <% end %>
        <div class="more_link_box">
        <strong>まだアカウントを持っていませんか？</strong>
        <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>