  <div id="main_cnt_wrapper"><!-- 
    <div id="yjContentsBody">
      <div class="yjContainer">
        <span class="yjGuid"><a id="yjContentsStart" name="yjContentsStart"></a><img alt="ここから本文です" height="1" src="http://i.yimg.jp/yui/jp/tmpl/1.1.0/audionav.gif" width="1"></span>
        <div id="yMain"> -->
          <article class="section">
            <div class="container">

              <div class="ranking">

                <%= render partial: "ranking" %>
              </div>

              <div class="new-item clear_fix">
                <div class="new_item_header clear_fix">
                  <div class="new_img">
                    <%= image_tag "new.png" %>
                    <h3 class="new_item_title">新着</h3>
                  </div>
                </div>
                <ul class="new-item-products clear_fix" id="list-module" style=list-style:none;>
                  <% @products.each do |product| %>
                    <li class="new-item-view">
                      <div class="row">
                        <div class="col-xs-6 col-md-3">
                          <figure id="product-photo">
                          <a href="/products/<%= product.id %>" class="thumbnail">
                            <img src="<%= product.image_url %>" alt="">
                            <figcaption><%= product.title %></figcaption>
                          </a>
                          <div class="rate">
                            <% if product.reviews.present? && product.reviews.average(:total_rate).round <= 2 %>
                              <div class="star_index">
                                <%= image_tag "rate_stars_1.png" %>
                              </div>
                            <% elsif product.reviews.present? && product.reviews.average(:total_rate).round <= 4 %>
                              <div class="star_index">
                                <%= image_tag "rate_stars_2.png" %>
                              </div>
                            <% elsif product.reviews.present? && product.reviews.average(:total_rate).round <= 6 %>
                              <div class="star_index">
                                <%= image_tag "rate_stars_3.png" %>
                              </div>
                            <% elsif product.reviews.present? && product.reviews.average(:total_rate).round <= 8 %>
                              <div class="star_index">
                                <%= image_tag "rate_stars_4.png" %>
                              </div>
                            <% elsif product.reviews.present? && product.reviews.average(:total_rate).round <= 10 %>
                              <div class="star_index">
                                <%= image_tag "rate_stars_5.png" %>
                              </div>
                            <% else %>
                              <div class="star_index">
                                <%= image_tag "rate_stars_0.png" %>
                              </div>
                            <% end %>
                          </div>
                          </figure>
                        </div>
                      </div>
                    </li>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
          </article>
        </div>
      <div id="yjSub">
