 <div id="main_cnt_wrapper">
    <div class="container">
      <dic class="search_word clear_fix">
        <h3 class="search_product">
          投稿する商品を検索
        </h3>
      <div class="search_box">
        <%= form_tag('/products/search', method: :get) do %>
          <input class="search__query" name="keyword" placeholder="作品名で検索" type="text" value=""><button class="btn-search" title="検索" type="submit"><i class="icon-search"></i></button></input>
        <% end %>
        <form accept-charset="utf-8" action="/" class="js-search-submit" method="get">
        </form>
      </div>
    </div>

          <article class="section">
            <div class="container">
              <header class="header header--section">
                <h3 class="text-middle">
                  <i class="icon-movie color-gray-light"></i>検索結果
                </h3>
              </header>

            <div class="search_products_show">
              <ul class="listview" id="list-module" style=list-style:none;>
                <% @products.each do |product| %>
                <li class="search_product_view">
                  <div class="row">
                    <div class="col-xs-6 col-md-3">
                      <figure id="product-photo">
                        <a href="/products/<%= product.id %>" class="thumbnail">
                        <img src="<%= product.image_url %>" alt="">
                        <figcaption><%= product.title %></figcaption>
                    <!--     <figcaption class="yen"><%= product.price %>円</figcaption> -->
                      </a>
                    </figure>
                    </div>
                  </div>
                </li>
                <% end %>
              </ul>
            </div>

            </div>
          </article>
        </div>
        <div id="yjSub">