  <div id="main_cnt_wrapper">
 
          <article class="section">
            <div class="container">
              <div class="show_container clear_fix">
                <header class="header header--section">
                  <h4 class="text-middle">
                    <i class="product_title"></i><%= @product.title %>
                  </h4>
                </header>


              
              <div class="show_thumbnail">
                <div class="col-xs-6 col-md-3">
                  <img src="<%= @product.image_url %>" alt="<%= @product.title %>">
                </div>
              </div>
              <div class="show_info">
                <ul class="product_info">
                  <li class="detail"><%= @product.detail %></li>
                  <li class="price"><%= @product.price %>円(税込)</li>
                  <li class="maker"><%= @product.maker %></li>
              </ul>
              </div>
           <div class="genre_simple">
                <% if current_user.genre_likes.find_by(product_id: @product) %>
                シンプル
                <% else %>
                  <%= link_to 'simple', "/products/#{@product.id}/genre_likes/genre_like?genre_type=1", method: :post %>
                <% end %>
              </div> 
           <div class="genre_basic">
                <% if current_user.genre_likes.find_by(product_id: @product) %>
                ベーシック
                <% else %>
                  <%= link_to 'basic', "/products/#{@product.id}/genre_likes/genre_like?genre_type=2", method: :post %>
                <% end %>
              </div>
          <div class="genre_cute">
            <% if current_user.genre_likes.find_by(product_id: @product) %>
                キュート
            <% else %>
              <%= link_to 'cute', "/products/#{@product.id}/genre_likes/genre_like?genre_type=3", method: :post %>
            <% end %>
          </div>
          <div class="genre_deco">
            <% if current_user.genre_likes.find_by(product_id: @product) %>
              デコ・スクラップ
            <% else %>
              <%= link_to 'deco', "/products/#{@product.id}/genre_likes/genre_like?genre_type=4", method: :post %>
            <% end %>
          </div>
          <div class="genre_life">
            <% if current_user.genre_likes.find_by(product_id: @product) %>
              ライフスタイル
            <% else %>
              <%= link_to 'lifestyle', "/products/#{@product.id}/genre_likes/genre_like?genre_type=5", method: :post %>
          <% end %>
          </div>
          <div class="genre_highclass">
            <% if current_user.genre_likes.find_by(product_id: @product) %>
              ハイクラス
            <% else %>
              <%= link_to 'highclass', "/products/#{@product.id}/genre_likes/genre_like?genre_type=6", method: :post %>
          <% end %>
          </div>
          <div class="genre_fun">
            <% if current_user.genre_likes.find_by(product_id: @product) %>
              おもしろ
            <% else %>
              <%= link_to 'おもしろ系', "/products/#{@product.id}/genre_likes/genre_like?genre_type=7", method: :post %>
          <% end %>
          </div>
          <div class="useful">
            <% if current_user.genre_likes.find_by(product_id: @product) %>
              便利
            <% else %>
              <%= link_to 'useful', "/products/#{@product.id}/genre_likes/genre_like?genre_type=8", method: :post %>
          <% end %>
          </div> 

            </div>
              <div style="text-align: right">
                <a href = "<%= @product.id %>/reviews/new">この作品を投稿する</a>
              </div>
              <header class="header header--section">
                <h4 class="text-middle">
                  <i class="icon-movie color-gray-light"></i>みんなのレビュー
                </h4>
              </header>
              <ul style ="padding: 0">
                <% @product.reviews.each do |review| %>
                <li style="border-bottom: dotted 1px">
                  <div class="thumnail__caption">
                    <h4 class="text-xsmall text-overflow" title="<%= review.user.nickname %>">
                      <span><i class="icon-rate-60 text-xxsmall opacity-60" title=""></i></span><%= review.user.nickname %><small 2014=""></small>
                    </h4>
                    <p class="text-small">
                      <span class="rating-star"><i class="star-actived rate-[ここに評価を表示]0"></i></span>
                    </p>
                    <p>
                      <%= review.review %>
                    </p>
                  </div>
                </li>
                <% end %>
              </ul>
            </div>
          </article>
</div>