 <!DOCTYPE HTML>
  <html lang="ja">
    <!-- <head>
      <meta charset="UTF-8" />
      <title>文具レビューサイト</title>
      <link rel="stylesheet" href="style.css">

    </head> -->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>stationery</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
      <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
      <%= csrf_meta_tags %>
  </head>
    <body>
      <div class ="header">
        <div class="header-left" style="float: left">
        <ul style = "list-style:none;">
          <li class="logo" style="float: left">
            <a href="/">stationery</a>
          </li>
          <li>
          <p class="subtitle" style="float: left">文具・ステーショナリー レビューサイト</p>
          </li>
        <ul>
        </div>
        <div class="header-right" style="float: left">
          <ul style="list-style:none;">
            <li class="search_button" style="float: right">
              <a href="/products/search">検索</a>
            </li>
          <% if user_signed_in? %>
            <li class="signed_out_button" style="float: right">
              <%= link_to 'サインアウト', destroy_user_session_path, method: :delete %>
            </li>
            <li class="my_page_button" style="float: right">
              <a href="/users/<%= current_user.id %>">マイページ</a>
            </li>
          <% else %>
            <li class="login_button" style="float:right">
              <%= link_to "ログイン", new_user_session_path, class: 'post' %>
            </li>
            <li class="new_user_button" style="float:right">
              <%= link_to "新規登録", new_user_registration_path, class: 'post' %>
            </li>
            </ul>
            <% end %>
          </ul>
        </div>
    </div>

    <div class="main clear_fix">

      <div class="sidebar">
        <div class="side_category">
          <div class="category_contents">
            <%= image_tag "pen.png" %>
            <ul class="category">
              <li style=list-style:none;>
                <%= link_to 'ボールペン', :controller=>"/products", :action => "category", value: "ボールペン" %>
              </li>
               <li style=list-style:none;>
                <%= link_to '万年筆', :controller=>"/products", :action => "category", value: "万年筆" %>
              </li>
               <li style=list-style:none;>
                <%= link_to 'シャープペンシル', :controller=>"/products", :action => "category", value: "シャープペンシル" %>
              </li>
              <li style=list-style:none;>
                <%= link_to 'マーカー・サインペン', :controller=>"/products", :action => "category", value: "マーカー・サインペン" %>
              </li>
              <li style=list-style:none;>
                <%= link_to '鉛筆・鉛筆削り', :controller=>"/products", :action => "category", value: "鉛筆・鉛筆削り" %>
              </li>
               <li style=list-style:none;>
                <%= link_to '', :controller=>"/products", :action => "category", value: "" %>

              </li>
            </ul>

          <%= image_tag "note.png" %>
            <ul class="category">
              <li style=list-style:none;>
                <%= link_to 'ノート・メモ', :controller=>"/products", :action => "category", value: "ノート・メモ" %>
              </li>
               <li style=list-style:none;>
                <%= link_to '手帳・日記帳', :controller=>"/products", :action => "category", value: "手帳・日記帳" %>
              </li>
              <li style=list-style:none;>
                <%= link_to 'カレンダー', :controller=>"/products", :action => "category", value: "カレンダー" %>
              </li>
               <li style=list-style:none;>
                <%= link_to 'システム手帳・リフィル', :controller=>"/products", :action => "category", value: "システム手帳・リフィル" %>
              </li>
              <li style=list-style:none;>
                <%= link_to 'ブックカバー・製本用品', :controller=>"/products", :action => "category", value: "ブックカバー・製本用品" %>
              </li>
              <li style=list-style:none;>
                <%= link_to 'ファイル', :controller=>"/products", :action => "category", value: "ファイル" %>
              </li>
            </ul>

        <%= image_tag "mail.png" %>
            <ul class="category">
              <li style=list-style:none;>
                <%= link_to 'レターセット・便箋', :controller=>"/products", :action => "category", value: "レターセット・便箋" %>
              </li>
               <li style=list-style:none;>
                <%= link_to '封筒・ハガキ', :controller=>"/products", :action => "category", value: "封筒・ハガキ" %>
              </li>
               <li style=list-style:none;>
                <%= link_to '封蝋・エンポッサー', :controller=>"/products", :action => "category", value: "封蝋・エンポッサー" %>
              </li>
            </ul>

        <%= image_tag "ruler.png" %>
            <ul class="category">
              <li style=list-style:none;>
                <%= link_to 'はさみ・カッターナイフ', :controller=>"/products", :action => "category", value: "はさみ・カッターナイフ" %>
              </li>
               <li style=list-style:none;>
                <%= link_to '定規・コンパス', :controller=>"/products", :action => "category", value: "定規・コンパス" %>
              </li>
               <li style=list-style:none;>
                <%= link_to 'クリップ・ステープラー', :controller=>"/products", :action => "category", value: "クリップ・ステープラー" %>
              </li>
              <li style=list-style:none;>
                <%= link_to 'のり', :controller=>"/products", :action => "category", value: "のり" %>
              </li>
              <li style=list-style:none;>
                <%= link_to '下敷き', :controller=>"/products", :action => "category", value: "下敷き" %>
              </li>
            </ul>

        <%= image_tag "fancy.png" %>
            <ul class="category">
              <li style=list-style:none;>
                <%= link_to 'シール', :controller=>"/products", :action => "category", value: "シール" %>
              </li>
               <li style=list-style:none;>
                <%= link_to 'スタンプ', :controller=>"/products", :action => "category", value: "スタンプ" %>
              </li>
               <li style=list-style:none;>
                <%= link_to 'カード・ポストカード', :controller=>"/products", :action => "category", value: "カード・ポストカード" %>
              </li>
              <li style=list-style:none;>
                <%= link_to 'のし・色紙', :controller=>"/products", :action => "category", value: "のし・色紙" %>
              </li>
              <li style=list-style:none;>
                <%= link_to 'ペーパーアイテム・ウェディングアイテム', :controller=>"/products", :action => "category", value: "ペーパーアイテム・ウェディングアイテム" %>
              </li>
              <li style=list-style:none;>
                <%= link_to 'アルバム・フォトフレーム', :controller=>"/products", :action => "category", value: "アルバム・フォトフレーム" %>
              </li>
            </ul>

        <%= image_tag "art.png" %>
            <ul class="category">
              <li style=list-style:none;>
                <%= link_to '絵の具', :controller=>"/products", :action => "category", value: "絵の具" %>
              </li>
               <li style=list-style:none;>
                <%= link_to '画材', :controller=>"/products", :action => "category", value: "画材" %>
              </li>
               <li style=list-style:none;>
                <%= link_to '製図用品', :controller=>"/products", :action => "category", value: "製図用品" %>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="contents">
        <%= yield %>
      </div>
    </div>
    <div class="footer">
      <div class="f clear_fix">
        <ul class="footer_info clear_fix">
          <li class="footer_info" style=list-style:none;>
            <a href="/">ホーム</a>
          </li>
          <li class="footer_info" style=list-style:none;>
            <a href="#">FAQ</a>
          </li>
          <li class="footer_info" style=list-style:none;>
            <a href="#">お問い合わせ</a>
          </li>
        </ul>
      </div>
      <div class="footer_message clear_fix">
        <p class="footer_message">
          Copyright (C) 2016 Stationery
        </p>
      </div>
    </div>
    </body>
  </html>