 <!DOCTYPE HTML>
  <html lang="ja">
    <!-- <head>
      <meta charset="UTF-8" />
      <title>文具レビューサイト</title>
      <link rel="stylesheet" href="style.css">

    </head> -->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>stationery</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
      <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
      <%= csrf_meta_tags %>
  </head>
    <body>
      <div class ="header">
        <div class="header-left" style="float: left">
        <ul style = "list-style:none;">
          <li class="logo" style="float: left">
            <a href="/">stationery</a>
          </li>
          <ul>
        </div>
        <div class="header-right" style="float: left">
          <ul style="list-style:none;">
            <li class="search_button" style="float: right">
              <a href="products/search">検索</a>
            </li>
          <% if user_signed_in? %>
            <li class="signed_out_button" style="float: right">
              <%= link_to 'サインアウト', destroy_user_session_path, method: :delete %>
            </li>
            <li class="my_page_button" style="float: right">
              <a href="/users/<%= current_user.id %>">マイページ</a>
            </li>
          <% else %>
            <li class="login_button" style="float:right">
              <%= link_to "ログイン", new_user_session_path, class: 'post' %>
            </li>
            <li class="new_user_button" style="float:right">
              <%= link_to "新規登録", new_user_registration_path, class: 'post' %>
            </li>
            </ul>
            <% end %>
          </ul>
        </div>
    </div>

    <div class="main">

      <div class="sidebar"></div>

      <div class="contents">
        <%= yield %>
      </div>
    </div>

    </div>
    </div>
    
    <div class="footer"></div>
    </body>
  </html>